.vertical-center {
  display: flex;
  align-items: center;
}

#sitescan_toolbar {
	/*text-shadow: 0px 1px 1px rba(0,0,0,.4);*/
	text-decoration: none;
	font-family: 'Open Sans','Helvetica','Arial',sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	/*font-smoothing: antialiased;*/



	display: inline;
	padding: .5em;
}

#content {
  display: inline;
  background: rgba(153, 214, 255, .25);
  padding: .5em 0;
  border: 1px solid black;
}

#spnMessage {
  margin: 0 1em;
}

#txtScanTarget {
  display: inline;
  text-align: center;
  /*margin: 0 1em;*/
}

#btnScan {
  margin: 0 .5em;
}

#btnScan {
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;

  color: whitesmoke;
  border-color: #3990b0;
  background-color: #4a9cba;
  display: inline;
  width: auto;
  padding: 0;
}

body {
  /*background-color: black;*/
}

div {
  border: 1px solid black;
}
